@font-face {
  font-family: 'Gilroy Regular';
  src: url('../fonts/Gilroy-Black/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Black/Gilroy-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nekst Regular';
  src: url('../fonts/Nekst/Nekst-Regular.woff') format('woff'),
    url('../fonts/Nekst/Nekst-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nekst Black';
  src: url('../fonts/Nekst/Nekst-Black.woff') format('woff'),
    url('../fonts/Nekst/Nekst-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
