.content {
  margin-top: 32px;

  @media (max-width: 1120px) {
    padding-bottom: 25px;
  }

  .fields {
    display: flex;

    @media (max-width: 1120px) {
      flex-direction: column;
    }
  }

  .result {
    display: flex;
    margin-top: 51px;

    @media (max-width: 1120px) {
      flex-wrap: wrap;
      margin-top: 10px;
      overflow: hidden;
    }
  }

  .buttonWrapper {
    flex: 1 1 30%;

    @media (max-width: 1120px) {
      flex: 1 1 100%;
    }
  }
}
