@import '../../../styles/colors.scss';

.field {
  flex: 1 1 30%;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  .title {
    font-family: 'Gilroy Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $grey-500;
  }
}
