@import '../../../styles/colors.scss';

.field {
  flex: 1 1 30%;
  margin-right: 32px;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: 1120px) {
    margin-right: 0;
    margin-bottom: 26px;

    flex: 1 1 50%;
  }

  @media (max-width: 480px) {
    flex: 1 1 100%;
  }

  .title {
    font-family: 'Gilroy Regular', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $grey-500;
  }
}
