@import '../../../styles/colors.scss';

.wrapper {
  position: relative;
  margin-top: 24px;

  .input {
    min-width: 280px;
    width: 100%;
    height: auto;

    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    color: $grey-500;

    border-radius: 16px;
    border: 0;
    background-color: $grey-200;

    input {
      padding: 0 24px;
      height: 68px;

      font-family: 'Nekst Black', sans-serif;
      cursor: pointer;
    }
  }

  .slider {
    width: 88%;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .percent {
    position: absolute;
    top: 0;
    right: 0;

    background: #ebebec;
    border: 0;
    border-radius: 16px;

    input {
      padding: 15px 17px;
      height: 54px;
      width: 69px;

      font-family: 'Nekst Black', sans-serif;
      cursor: pointer;
    }
  }
}
